body {
  background-color: crimson;
}
.Statement {
    font-size: 50px;
    font-family: sans-serif;
    font-style: inherit;
    text-align: left; 
    padding-top: 100px;
    color: antiquewhite;
    
}

.Statement2 {font-size: 20px;
    font-family: sans-serif;
    font-style: inherit;
    text-align: left; 
    padding-top: 50px;
    color: antiquewhite;
    padding-bottom: 50px;
    
    
}